* {
  box-sizing: border-box;
  font-weight: bold;
}

:focus {
 outline: none;
}

body {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgb(255, 158,0), rgb(241,255,0));
}

input {
  margin: auto;
  width: 300px;
  padding: 20px;
  border: none;
  display: inline-block;
  background: rgba(255,255,255,0.2);
}

.search-container {
  position: relative;
  margin-top: 3rem;
}

.search-container input,
.search-container .suggestions {
  border: none;
  max-width: 300px;
}

.search-container input {
 display: block;
}

.search-container .suggestions {
  position: relative;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid orangered;
}

ul.has-suggestions {
  display: block;
}
ul li {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}

ul li:hover {
  background-color: rgb(255, 85, 0);
  cursor: pointer;
}
