* {
  box-sizing: border-box;
}

:focus {
 background-color: rgba(255,255,255,0.5);
}

body {
  background: linear-gradient(90deg, rgb(255, 158,0), rgb(241,255,0));
}

input {
  box-sizing: border-box;
}

.search-container {

}
.search-container input,
.search-container .suggestions {
  /* TODO */
}
.search-container input {
 /* TODO */
}
.search-container .suggestions {
   /* TODO */
}

ul {
  /* TODO */
}
ul.has-suggestions {
  /* TODO */
}
ul li {

}
ul li:hover {
  background-color: rgba(255,255,255,0.5);
  cursor: pointer;
}
